.container{
  padding: 100px;
  background-color: #000000 ;
}

.title-text{
  color: #f7f7f7;
  font-size: 25px;
}

.form-label{
  color: #f7f7f7;
}
.table th{
  color: yellow;
}

.table td{
  color: #f7f7f7 ;
}