<div class="container">
  <p>Olá Sr. Candidato</p>
  <h3>Você está inscrito nestas vagas:</h3>
  <div>
    <button class="btn btn-secondary" (click)="fechar()">Voltar</button>
  </div>
  <div class="mb-3">
    <label class="form-label">Candidato</label>
    <select class="form-select form-select-sm" aria-label=".form-select-sm example" name="candidatos" #listaCandidatos (change)="listarInscricoes(listaCandidatos.value)">
        <option value="">Selecione um candidato</option>
        <option *ngFor="let c of candidatos" [value]="c.id">{{c.nome}}</option>
    </select>
</div>
<div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Vaga</th>
          <th>Empresa</th>
          <th>Data da Inscrição</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let i of inscricao">
          <td>{{i.titulo_vaga}}</td>
          <td>{{i.nomeempresa }}</td>
          <td>{{i.datainscricao | date : 'dd/MM/yyyy'}}</td>
          <td>
            <a routerLink="/candidato/remover/{{i.id}}">
              <i class="bi bi-trash"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
</div>