<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome Candidato</th>
            <th>Vaga</th>
            <th>Empresa</th>
            <th>Data da Inscrição</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let i of inscricoes">
            <td>{{i.id}}</td>
            <td>{{i.nomeCandidato}}</td>
            <td>{{i.titulo_vaga}}</td>
            <td>{{i.nomeempresa}}</td>
            <td>{{i.datainscricao}}</td>
        </tr>
    </tbody>
</table>