<div class="container">
    <div>
        <h2>{{vaga.titulo_vaga}}</h2>
        <h3>{{vaga.nomeempresa}}</h3>
        <hr />
        <p>{{vaga.descricao}}</p>
        <p><strong>Turno: </strong>{{vaga.turno}}</p>
        <p><strong>Modalidade: </strong>{{vaga.modalidade}}</p>
        <p><strong>Escolaridade: </strong>{{vaga.escolaridade}}</p>
        <p><strong>Salário: </strong>{{vaga.salario | currency: "BRL"}}</p>
        <p><strong>Local: </strong>{{vaga.cidade}} - {{vaga.uf}} </p>
        <p><strong>Inscrições até: </strong>{{vaga.data_limite_inscricao | date : 'dd/MM/yyyy'}}</p>
    </div>
        <hr />
        <div class="row">
            <div class="col">
                <button class="btn btn-secondary" (click)="fechar()">Voltar</button>
            </div>
            <div class="col">
                  <a class="btn btn-warning" routerLink="/inscricoes/nova/{{vaga.id}}">Inscreva-se</a>
            </div>
            <div class="col">
                <a class="btn btn-danger" routerLink="/vaga/remover/{{vaga.id}}">Remover Vaga</a>
            </div>
            <div class="col">
                <a class="btn btn-light" routerLink="/vaga/atualizar/{{vaga.id}}">Atualizar Vaga</a>
            </div>
        </div>
</div>