<div class="container">
    <img src="/assets/linkedin.jpg" alt="">
    <h1>O que é LinkedIn, afinal?</h1>
    <h5>Hoje o LinkedIn é seguramente a maior rede profissional do mundo, com mais de 500 milhões de usuários ao redor do mundo</h5>
    <br/>
    <p>
        O LinkedIn é uma rede social profissional. Isso é o que você vai ouvir falar com maior frequência. Em 2003, 
        quando foi lançado, ainda era visto como “um site de currículos”. Muita coisa mudou de lá para cá, e hoje 
        o LinkedIn é seguramente a maior rede profissional do mundo, com mais de 500 milhões de usuários, em 200 países.
    </p>
    <br/>
    <p>
        O objetivo inicial do LinkedIn, quando chegou ao mundo junto com outras redes sociais como Facebook (2004) e 
        Twitter (2006), era oferecer funções básicas para elaboração de um perfil profissional online — um currículo descolado. 
        Ideal, de fato, para se apresentar para alguém online. Fomentar o networking foi um efeito fantástico.
    </p>
    <br/>
    <p>
        Com o tempo, tornou-se uma plataforma para fazer negócios. Assim como o Facebook lançou as páginas de fãs para marcas e 
        pessoas públicas, o LinkedIn lançou as company pages que, além de divulgar vagas, são a única presença de muitas empresas 
        online. Há pequenas e médias empresas (PMEs) que não tem sites, mas investem nesta presença.
    </p>
    <br/>
    <p>
        Com isso, o LinkedIn se consolidou como uma ótima ferramenta de marketing digital. Seja para os profissionais que querem 
        alavancar suas carreiras ou para as empresas que querem trabalhar a sua imagem no mercado, recrutando, informando sobre 
        seus planos e/ou anunciando novidades, conectadas a pessoas e companhias do seu nicho.
    </p>
    <br/>
    <p>
        LinkedIn não é exatamente sobre amigos
        A dinâmica é simples, em vez de seguir amigos e marcas que você é fã, o LinkedIn está aqui para você seguir profissionais 
        e empresas com os quais têm interesses em comum, seja para trabalhar junto, se inspirar ou buscar soluções e serviços. É 
        o pulo do gato que muita gente ignora. LinkedIn não é sobre amigos, é sobre contatos profissionais.
    </p>
    <br/>
    <p>
        Adicione profissionais que você conhece e também quem gostaria de conhecer. O ideal é focar em pessoas do seu ramo e em 
        indústrias e empresas em que gostaria de trabalhar, estudar ou ter algum tipo de negócio em conjunto, oferecendo ou contratando 
        os serviços. Seja gentil e encontre uma forma simpática de abordá-los.
    </p>
        <img src="/assets/ligacoes.jpg" alt="">
    <p>
        Lembre-se que não importa em que momento profissional você esteja. Se bem colocado ou procurando oportunidades de trabalho ou 
        estágio. Mantenha sua rede de contatos aquecida, faça novas conexões, participe de grupos e troque informações.
    </p>
    <br/>
    <p>
        Do ponto de vista da empresa, o LinkedIn tem um modelo de negócios diversificado. A receita para manter a plataforma vem de 
        assinaturas de serviços premium, vendas de publicidade e de soluções de recrutamento. Em 2016, a Microsoft adquiriu o LinkedIn 
        e conectou recursos do Pacote Microsoft Office com a maior rede profissional do mundo.
    </p>
    <br/>
    <p>
        A Conta Basic (gratuita) é excelente para usuários que estão buscando recolocação, não há limitações que impeçam o seu sucesso
         ao candidatar-se à uma vaga. A diferença para as assinaturas, disponíveis para pessoas à procura de emprego, profissionais 
         de vendas e de recrutamento, são recursos adicionais que facilitam processos.
    </p>
    <br/>
    <h3>Como usar o LinkedIn a meu favor?</h3>
    <br/>
    <p><strong><u>Profissional:</u></strong></p>
    <ul>
        <li>Seguir e se conectar a profissionais e empresas do mundo todo;</li>
        <li>Procurar vagas em empresas fora do país, traduza seu currículo;</li>
        <li>Inspirar-se com conteúdo de profissionais conhecidos e desconhecidos;</li>
        <li>Inspirar outros profissionais com a sua experiência profissional;</li>
        <li>Investir no seu marketing pessoal digital impulsionando a sua carreira;</li>
        <li>Participar de grupos e comunidades que possam enriquecer seu trabalho;</li>
        <li>Pedir recomendações a colegas de trabalho para valorizar o seu perfil.</li>
    </ul>
    <br/>
    <p><strong><u>Empresa:</u></strong></p>
    <br/>
    <ul>
        <li>Criar a sua company page e informar ao público seus planos e conquistas;</li>
        <li>Recrutar candidatos qualificados baseado em dados dos perfis de LinkedIn;</li>
        <li>Divulgar posts e materiais, incluindo artigos no LinkedIn Pulse;</li>
        <li>Incentivar o networking dos seus profissionais para impulsionar vendas;</li>
        <li>Fazer publicidade segmentada de cursos, serviços e produtos corporativos;</li>
        <li>Tornar seus profissionais referências no setor com planos de marketing pessoal.</li>
    </ul>
    <br/>
    <p>
        Lembre-se que suas interações no LinkedIn podem influenciar sua carreira de forma positiva ou negativa. A própria rede social 
        recomenda cuidados básicos como escolher uma foto adequada, evitar erros de português e de informação, deixar os clichês e
         as piadas de lado e não enviar convites em massa e sem critério a desconhecidos.
    </p>
    <br/>
    <p>
        É fato que o LinkedIn, às vezes, soa bastante chato. Principalmente com pessoas se auto promovendo o tempo todo e não 
        contribuindo com informações relevantes ou artigos embasados. Como se faz mau uso do Facebook, também se faz mau uso do 
        LinkedIn.
    </p>
    <br/>
    <p>Referência: <a href="https://tecnoblog.net/responde/o-que-e-linkedin/">Tecnoblog</a></p>
</div>