<body>
    <div class="container">
        <img src="/assets/entrevista.jpg" alt="imagem de uma mesa de entrevista com 2 pessoas">
        <h1>15 dicas para mandar bem na entrevista de emprego (e conseguir a vaga!)</h1>
        <p>
            A felicidade ao receber uma ligação marcando a entrevista de emprego dá lugar a uma ansiedade sem fim. 
            Afinal, são poucos minutos para demonstrar o seu valor, fisgar o recrutador e conquistar a oportunidade, não é?
        </p>
    <br/>
        <p>
            Pensando nisso, confira essa seleção de 15 dicas para mandar bem. Entre conselhos de especialistas, consultados 
            pela Exame e pelo Na Prática, e sugestões baseadas no que diz a ciência, confira o que aumenta suas chances de ser escolhido 
            – ou, como mandar bem na entrevista de emprego.
        </p>
    <br/>
        <div class="video">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/0bZqZA7bHSk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <p><i>Dicas para mandar bem na entrevista de emprego</i> </p>
        <br/>
        <p><strong>1. Como se preparar para uma entrevista de emprego?</strong></p>
        <p>
            Para se sair bem em uma entrevista, a preparação, de acordo com os especialistas, começa ao escrever o currículo. O 
            documento serve como fio condutor dos principais pontos que serão abordados na conversa com o recrutador.
        </p>
    <br/>
        <p>
            “A primeira providência é estruturar o currículo. Ao escrevê-lo reflita sobre tudo o que aconteceu na sua trajetória 
            quais foram os significados para a sua vida profissional”, diz Axel Werner, da Kienbaum.
        </p>
    <br/>
        <p>
            Atente às entregas feitas em cada um dos lugares pelos quais passou. “O currículo deve falar dos resultados que o 
            profissional obteve não só dos conhecimentos e atividades exercidas”, diz César Kaghofer, representante da Dale Carnegie.
        </p>
    <br/>
        <p><strong>2. Sentir-se confiante faz diferença</strong></p>
        <p>
            Segundo descobertas da ciência, quem se sente confiante em uma entrevista de emprego costuma ter melhor desempenho. 
            Destaca a revista Time sobre o assunto:
        </p>
    <br/>
        <p><strong><i>
            “Preparar os participantes com sentimentos de poder melhora os resultados da entrevista profissional… Em 
            ambos os estudos, os juízes inconscientes preferiram, com resultados significativos, os candidatos que se 
            sentiam poderosos.”
        </i></strong></p>
    <br/>
        <div class="video">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/It_XHwd85WY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <p><strong>3. Primeiras impressões importam (e muito)</strong></p>
    <br/>
        <p>
            “A primeira impressão é a que fica” não é um ditado sem fundamento. Pelo contrário, a ciência comprovou esse fato em 
            diversos estudos. A Time vai mais longe e afirma que alguns estudiosos consideram esse o ponto mais importante das 
            entrevistas.
        </p>
    <br/>
        <p>
            “Otimize as primeiras impressões desde o início, enquadrando a conversa com algumas frases bem ensaiadas sobre
             como você quer ser percebido. Isso vai acabar sendo a estrutura com que a outra pessoa forma suas memórias sobre você.”
        </p>
        <br/>
        <p>
            Para saber mais, acesse a matéria sobre como causar boa primeira impressão, do Na Prática.
        </p>
        <br/>
        <p><strong>4. Beneficie-se dos poderes da linguagem corporal</strong></p>
        <br/>
        <p>
            Você já ouviu falar de power posing? Basicamente, a especialista Amy Cuddy descobriu que ter uma postura confiante 
            aumenta as chances de sucesso em qualquer situação social.
        </p>
        <br/>
        <p>
            No entanto, sua maior descoberta é que essa “pose” pode ser “fingida” por quem não está, na realidade, se sentindo super 
            seguro. Veja como, aqui! E confira as outras dicas com base na linguagem corporal para mandar bem na entrevista de emprego.
        </p>
        <br/>
        <p><strong>5. “Imite” o estilo do entrevistador </strong></p>
        <br/>
        <p>
            Essa dica para mandar bem na entrevista pode parecer estranha, mas tem fundamento. A ciência já linkou, diversas vezes, 
            que a similaridade tem papel forte no quanto “agradamos” alguém. Não é diferente nos processos seletivos.
        </p>
        <br/>
        <p>
            Isso não é o mesmo que mentir ou mudar sua personalidade. Há um tempo, Felipe Brunieri, na consultoria Talenses, 
            deu a dica ao Na Prática:
        </p>
        <br/>
        <p>
            “Cada recrutador tem uma personalidade diferente: alguns são mais sisudos e formais, enquanto outros preferem uma 
            abordagem mais coloquial e descontraída. Identificar rapidamente esse estilo, e se adaptar a ele, conta muitos 
            pontos ao seu favor.!
        </p>
        <br/>
        <p><strong>6. Divida a carreira em etapas para estruturar a conversa com o recrutador</strong></p>
        <br/>
        <p>
            De acordo com Werner, é importante dividir a sua carreira em etapas. “Estruture a parte da carreira onde teve 
            aprendizado, em seguida veja onde começa a etapa de utilização das ferramentas aprendidas, que é seguida pela fase de 
            desenvolvimento das ferramentas de liderança e por fim pela etapa de aplicação das habilidades de liderança”, recomenda.
        </p>
        <br/>
        <p>
            Reflita sobre as suas atividades exercidas. Em cada uma das fases da sua carreira, esteja pronto para relacionar 
            com os eventos transcorridos.
        </p>
        <br/>
        <div class="video">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/KibC04OpyWw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <br/>
        <p><strong>7. Pesquise informações sobre a empresa e o cargo</strong></p>
        <br/>
        <p>
            “De uma forma geral, os executivos não se preparam para as entrevistas de emprego”, diz a coach Mariella Gallo. 
            Saber o que se espera do profissional que ocupe aquela posição é essencial para ter “ ponta da língua” a razão pela qual 
            você pode ser a pessoa certa para o cargo. Nesse ponto vale desde conversar com pessoas que já trabalhem na empresa, como 
            até visitar o local e se apresentar como candidato, segundo Kaghofer.
        </p>
        <br/>
        <p>
            A especialista em gestão de recursos humanos, Claudia Bitencourt, lembra que tudo isso é importante para você saber responder
             porque quer mesmo trabalhar lá. “Quanto mais informação o profissional puder ter melhor porque é um processo de escolha 
             mútua”, diz.
        </p>
        <br/>
        <p><strong>8. Estude as perguntas mais comuns</strong></p>
        <br/>
        <p>
            Algumas questões estarão presentes em todas as seleções. Por isso, a dica para mandar bem na entrevista de emprego é 
            estudá-las com antecedência e dedicação. Imagine-se respondendo perguntas como:
        </p>
        <br/>
        <ul>
            <li>Por que você se interessa em trabalhar na empresa?</li>
            <li>Quais são seus pontos fortes e fracos?</li>
            <li>Do que você mais se orgulha? / Quais são suas maiores conquistas?</li>
            <li>Onde quer estar em 5 anos?</li>
        </ul>
        <br/>
        <p><strong>9. Esteja preparado para responder às mais difíceis</strong></p>
        <br/>
        <p>
            Não dá para prever as perguntas mais originais que o recrutador fará. Mas, tendo pesquisado sobre a companhia e 
            sua cultura, você pode tentar se preparar para responder algo que pode surgir.
        </p>
        <br/>
        <p>
            Por exemplo, se autonomia é um foco da organização, pense em como explicaria como você saber lidar bem com esse valor 
            durante o dia a dia. E assim por diante. Confira essa lista de perguntas mais difíceis para se inspirar!
        </p>
        <br/>
        <p><strong>10. Foque em resolver o “problema” do recrutador</strong></p>
        <br/>
        <p>
            É claro que o seu objetivo é conquistar a oportunidade profissional, mas demonstre, durante a conversa, estar 
            atento às necessidades da empresa. “O foco da conversa deve ser em resolver o problema do empregador. O que a empresa 
            está precisando?”, recomenda o representante da Dale Carnegie.
        </p>
        <br/>
        <p>
            Por isso que as informações colhidas antes da entrevista são tão importantes. São elas que darão o embasamento 
            necessário para você mostrar que o seu perfil é indicado.
        </p>
        <br/>
        <img src="/assets/ola.jpg" alt="">
        <p><strong>11. Prove competências a partir de ações e resultados</strong></p>
        <br/>
        <p>
            Ao fazer a breve apresentação da sua carreira, geralmente algo que acontece logo no início da conversa com o recrutador, 
            enriqueça as informações do currículo falando sobre as ações e resultados.
        </p>
        <br/>
        <p>
            “É interessante listar projetos importantes que ele realizou dando exemplos, mostrando números, atos e ações”, diz Mariella. 
            Seja específico sobre o grau de responsabilidade em cada uma das funções, diga quantas pessoas eram lideradas por você, por 
            exemplo. Indique a quem você se reportava. Para mandar bem na entrevista de emprego, não deixe estes detalhes escaparem.
        </p>
        <br/>
        <p><strong>12. Utilize o método STAR para contar sobre sua trajetória</strong></p>
        <br/>
        <p>
            A terceira dica para mandar bem na entrevista de emprego é usar o STAR, método de estruturação que ajuda na hora de contar 
            sua história e conquistas. STAR é um acrônimo para Situação, Tarefa, Ações e Resultado.
        </p>
        <br/>
        <p>
            Basicamente, é só seguir essa ordem ao narrar seus feitos. Assim, garante que nenhum ponto importante ficará de fora. 
            Se quiser saber mais sobre a técnica, confira a matéria dedicada ao assunto.
        </p>
        <br/>
        <p><strong>13. Fale sobre o seu desenvolvimento profissional</strong></p>
        <br/>
        <p>
            Além dos valores que você gerou nas empresas em que trabalhou, lembre-se também de abordar o aprendizado para o 
            desenvolvimento profissional.
        </p>
        <br/>
        <p>
            Mesmo fora da fase de aprendizado, propriamente dita (faculdade, estágio, pós-graduação), o desenvolvimento deve ser mantido. 
            “É trazer uma nova perspectiva e mostrar que a sua carreira é pautada em desafios”, lembra Werner.
        </p>
        <br/>
        <p>
            Promoções, novos projetos e equipes ensinaram o quê? Quais as novidades em cada etapa da carreira merecem destaque, na 
            sua opinião? Claudia lembra que o autoconhecimento é a regra de ouro. “Uma pessoa que não se conheça não tem ideia clara do 
            potencial das suas realizações”, diz.
        </p>
        <br/>
        <p><strong>14. Atente à comunicação, treine antes se for preciso</strong></p>
        <br/>
        <p>
            Sem esta competência, você não conseguirá fazer absolutamente nada do que os especialistas recomendam nos itens anteriores. 
            “As pessoas falham muito na comunicação”, diz Kaghofer. Não se esqueça de que a prática é a mãe da excelência. Treine, 
            pratique, desenvolva esta habilidade.
        </p>
        <br/>
        <p><strong>15. O que falar em uma entrevista de emprego?</strong></p>
        <br/>
        <p>
            Por fim, para mandar bem na entrevista de emprego, pergunte coisas relevantes. A maior parte das entrevistas, em algum 
            momento, o recrutador pergunta ao candidato se ele tem alguma questão. Esse comportamento não é em vão ou apenas um 
            gesto educado do entrevistador. Na realidade, o candidato pode realmente utilizar a oportunidade para tirar uma dúvida.
        </p>
        <br/>
        <p>
            Porém, se aqui, o candidato mostra interesse e conhecimento com uma pergunta bem construída, pode se destacar da competição. 
            Tente algo como “como você caracterizaria a cultura da empresa?” Ou, se precisar de mais inspiração, confira as duas matérias 
            do Na Prática sobre o assunto.
        </p>
        <br/>
        <p>Referência: <a href="https://www.napratica.org.br/dicas-mandar-bem-na-entrevista-de-emprego/">Na Pratica.org</a></p>
    </div>
</body>
