<div class="borda">
    <h2 class="text-warning text-center">Realize sua inscrição</h2>
    <form>
        <div class="mb-3">
            <label class="form-label">Candidato</label>
            <select class="form-select form-select-sm" aria-label=".form-select-sm example" [(ngModel)]="inscricao.idcandidato" name="candidato">
                <option value="0">Selecione um candidato</option>
                <option *ngFor="let c of candidatos" [value]="c.id">{{c.nome}}</option>
            </select>
        </div>
        <div class="vaga">
            <p> <strong>Vaga: </strong>{{vaga.titulo_vaga}}</p>
        </div>
        <div class="button">
            <button class="btn btn-warning" (click)="incluir(inscricao)">Realizar inscrição</button> 
            <button class="btn btn-secondary" (click)="fechar()">Voltar</button>
        </div>
    </form>
</div>