<div class="container">
    <img src="/assets/blog.png"  alt="imagem de uma mesa de reuniões">
    
    <h1> <i>Como estão as mulheres no mundo corporativo?</i>  </h1>
    <br/>
    <p>
        Nos últimos anos, a diversidade no mundo corporativo é um tema bastante debatido e, 
        felizmente, o cenário está mudando para melhor. No entanto, mesmo com esse movimento 
        positivo, ainda estamos longe do ideal. Para alcançar o patamar desejado, os gestores 
        precisam apostar nas mulheres em todos os âmbitos, desde estagiárias até os cargos mais 
        altos da organização.
    </p>
    <br/>
    <h3>A atuação feminina no universo empresarial</h3>
    <br/>
    <p>
        Mesmo enfrentando uma dupla jornada diária de trabalho, as moças têm conquistado seu 
        espaço nas corporações e o nível de ocupação delas no número de empregados alcançou 45,7% 
        de acordo com a última Pesquisa Nacional por Amostra de Domicílios - Pnad. Assim, a 
        realização profissional, a qualidade de vida e o bem-estar são preocupações frequentes, 
        pois se questionam como podem lidar com suas carreiras nos dias de hoje.
    </p>
    <br/>
    <p>
        Nesse contexto, o Todas Group e a Inside Consumer Insights, realizaram um estudo quantitativo 
        e avaliaram as seguintes esferas: situação no trabalho, confiança e saúde mental, 
        relacionamentos, saúde física e padrão de vida. Essas informações foram, em seguida, 
        cruzadas com 12 indicadores de perfis, como faixas etária e salarial, tempo de empresa, 
        área de atuação, tamanho da companhia, cargo e estado, entre outros.
    </p>
    <br/>
    <p>
        De acordo com o levantamento, 74% das entrevistadas sentem orgulho da organização onde são 
        colaboradoras e acreditam na possibilidade de crescimento e desenvolvimento. Em contrapartida,
         apenas 56% se sentem realizadas. Sobre saúde e bem-estar, 79% são gratas pela condição atual 
         e 67% seguras para dar sua opinião. Contudo, como ponto de atenção, 63% se dizem tensas 
         frequentemente pela pressão diária.
    </p>
    <br/>
    <p>
        Além disso, o cenário de relacionamentos é um dos mais confortáveis. Para 70% das 
        participantes, os chefes e colegas fazem bem a elas, deixando sua saúde social em dia, 
        64% consideram-se parte de grupos. Porém, 50% sentem falta de terem lideranças femininas 
        reais por perto para aprenderem. “Esses pontos de atenção precisam ser investigados pelas 
        diretorias, pois comprometem uma série de coisas, como a autoconfiança e a segurança 
        psicológica. A partir da identificação real de um clima saudável, fica muito mais fácil 
        para desenvolverem soluções”, explica a especialista em bem-estar, Viviane Leite.
    </p>
    <br/>
    <h3>A importância da diversidade nas lideranças</h3>
    <br/>
    <p>
        Segundo levantamento realizado pela Fundação Dom Cabral, o alto comando das instituições 
        brasileiras ainda têm poucas executivas. A esse cenário somam-se outros temas da atualidade, 
        como etarismo e inclusão LGBTQIAP+. Ainda de acordo com o relatório “Trajetória de CEOs no 
        Brasil”, apenas 10% de mulheres ou negros ocupam a posição de diretoria no país.
    </p>
    <br/>
    <p>
        Os ambientes corporativos seguem com o ESG (Environmental, Social and Governance) como assunto 
        central para traçar o futuro, além de servir de termômetro para medir a reputação e gerar 
        valores. Por conta disso, é comum o interesse pela pauta surgir por meio da pressão do mercado.
         Afinal, os consumidores e os colaboradores estão, cada vez mais, em busca de empreendimentos 
         preocupados com os exercícios sociais e de proteção ao meio ambiente.
    </p>
    <br/>
    <p>
        De acordo com estudo feito pela Associação Brasileiras das Entidades dos Mercados Financeiro e 
        de Capitais - Anbima, os critérios ESG mais observados são a transparência e a ética (92% cada).
         Em comum, esses dois pontos têm o G de Governança, a base de todas as iniciativas e projetos, 
         garantindo coesão entre ações e objetivo do negócio.
    </p>
    <br/>
    <p>
        Contudo, ao elaborar essas estratégias, os gestores devem pensar em ações concretas e se 
        preparar, pois será exigido em termos de transformação. “É importante saber qual o momento da 
        sua organização para traçar um plano de execução. Estabelecimentos familiares, por exemplo, 
        precisam pensar primeiro na sua profissionalização. É difícil iniciar processos profundos se o 
        comandante ainda esbarra em questões básicas de sucessão, por exemplo”, afirma a especialista 
        em ESG, Claudia Elisa Soares.
    </p>
    <br/>
    <p>
        Outro ponto relevante é entender e enxergar quem está por trás das discussões para a implantação 
        das ações. A organização só seguirá na concretização de iniciativas sustentáveis e abraçando as 
        diferentes pessoas, quando reunir uma equipe de gestão realmente diversa. “No Conselho, por 
        exemplo, é legal ter representantes de áreas diferentes, mas também todas as idades, gêneros, 
        perfis e personalidades. Essa é a única forma de construir algo realmente inovador, criar novas 
        realidades e adotar atos transformadores em todas as esferas da sociedade”, destaca Claudia.
    </p>
    <br/>
    <h3>Evite algumas atitudes no cotidiano</h3>
    <br/>
    <p>
        De acordo com a pesquisa PoderData, realizada em 2021, para 80% dos homens há machismo no Brasil,
        mas só 8% afirmam ter esse preconceito. “Esse dado mostra como nós, enquanto indivíduos, 
        enxergamos o problema no outro, mas não reconhecemos nossas próprias falas e atitudes”, destaca
        a psicanalista e fundadora do Instituto de Pesquisa de Estudos do Feminino e das Existências 
        Múltiplas - Ipefem, Ana Tomazelli.
    </p>
    <br/>
    <p>
        Para Ana, mesmo com a luta diária por equidade, a discriminação está presente em inúmeras 
        frentes. “Essa realidade existe em qualquer setor”, reforça. Segundo o Índice Regional de 
        Assimetrias - Imobiliário & Construção, 90% das integrantes do segmento sofrem desse preconceito 
        e, a maioria delas, 65%, de forma muito frequente.
    </p>
    <br/>
    <p>
        Já consoante outro estudo, “A Mulher na Comunicação - sua força, seus desafios”, realizado 
        pela Associação Brasileira de Comunicação Empresarial - Aberje, 72% das mulheres sofreram assédio
         na profissão. Para 50% das entrevistadas, a subestimação de suas capacidades as impede de chegar 
         ao topo de suas carreiras ou muitas vezes não são nem consideradas para uma oportunidade. Em 
         segundo lugar, com 47%, quando elas expressam suas opiniões e são julgadas por isso.
    </p>
    <br/>
    <img src="/assets/mulheres.png" alt="imagem com dicas para mulheres no ambiente coorporativo" height="800px" width="500px" border-radius="20px">
    <br/>
    <p>Referência: <a href="https://www.nube.com.br/blog/2022/08/05/como-estao-as-mulheres-no-mundo-corporativo">Nube</a></p>

</div>
