  <div class="container">
    
      <h4 class="title-text">Olá Impacta,</h4> 
   <div class="cadastrar">
   </div>
    <div class="mb-3">
      <label class="form-label">Empresa</label>
      <select class="form-select form-select-sm" aria-label=".form-select-sm example" name="empresa" #listaempresas (change)="listaVagas(listaempresas.value)">
          <option value="0">Selecione uma Empresa</option>
          <option *ngFor="let e of empresas" [value]="e.id">{{e.nome}}</option>
      </select>
      </div>
    <div class="mb-3">
        <label class="form-label">Vagas disponíneis</label>
        <select class="form-select form-select-sm" aria-label=".form-select-sm example" name="vagas"  #listarVagas (change)="listarCandidatos(listarVagas.value)">
            <option value="0" >Selecione uma vaga</option>
            <option *ngFor="let v of vagas" [value]="v.id">{{v.nome}}</option>
        </select>
      </div>
      <div class="text-title2">
        <p>Estes são os candidatos inscritos em suas vagas</p> 
      </div>
    
    <div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Candidato</th>
            <th>Vaga</th>
            <th>Data da Inscrição</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let v of vagas2">
            <td>{{v.nomecandidato}}</td>
            <td>{{v.titulo_vaga }}</td>
            <td>{{v.datainscricao | date : 'dd/MM/yyyy'}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div>
      <div>
        <button class="btn btn-secondary" (click)="fechar()">Voltar</button>
      </div>
      <div class="row py-3 center">
        <div class="col">
          <button class="btn btn-warning" py-3 routerLink="/vaga/inserir">Cadastrar Nova Vaga</button>
        </div>
      </div>
    </div>
    