<div class="home">
  <div class="banner">
    <div class="content"></div>
  </div>
</div>

<div class="aboutUs">
  <div class="">
    <img src="/assets/prediogreatpeople.jpg" width="300px" alt="" />
  </div>
  <div class="aboutUs-text">
    <h1 class="">Quem Somos</h1>
    <p>
      Comprometimento e responsabilidade é a marca da Great People desde os
      primeiros momentos. E esse comprometimento fez com que, em pouco tempo, a
      empresa passasse a ser reconhecida como referência para selecionar,
      contratar e gerir pessoas, sempre com sensibilidade, habilidade e
      responsabilidade.
    </p>
  </div>
</div>
<hr>
<div class="aboutUs">
  <div class="">
    <img src="/assets/blog.png" width="300px" alt="" />
  </div>
  <div class="aboutUs-text">
    <h1 class="">Como estão as mulheres no mundo corporativo?</h1>
    <p>
      Nos últimos anos, a diversidade no mundo corporativo é um tema bastante debatido e, 
        felizmente, o cenário está mudando para melhor. No entanto, mesmo com esse movimento 
        positivo, ainda estamos longe do ideal. Para alcançar o patamar desejado, os gestores 
        precisam apostar nas mulheres em todos os âmbitos, desde estagiárias até os cargos mais 
        altos da organização.
    </p>
    <a routerLink="/mulheres">Continue lendo</a>
  </div>
</div>
<hr>
<div class="aboutUs">
  <div class="">
    <img src="/assets/linkedin.jpg" width="300px" alt="" />
  </div>
  <div class="aboutUs-text">
    <h1 class="">O que é LinkedIn, afinal?</h1>
    <p>
      Hoje o LinkedIn é seguramente a maior rede profissional do mundo, com mais de 500 milhões 
      de usuários ao redor do mundo.
      O LinkedIn é uma rede social profissional. Isso é o que você vai ouvir falar com maior frequência. 
      Em 2003, quando foi lançado, ainda era visto como “um site de currículos”. Muita coisa mudou de lá 
      para cá, e hoje o LinkedIn é seguramente a maior rede profissional do mundo, com mais de 500 milhões 
      de usuários, em 200 países.
    </p>
    <a routerLink="/linkedin">Continue lendo</a>
  </div>
</div>
<hr>
<div class="aboutUs">
  <div class="">
    <img src="/assets/ola.jpg" width="300px" alt="" />
  </div>
  <div class="aboutUs-text">
    <h1 class="">15 dicas para mandar bem na entrevista de emprego (e conseguir a vaga!)</h1>
    <p>
      A felicidade ao receber uma ligação marcando a entrevista de emprego dá lugar a uma ansiedade sem fim. 
      Afinal, são poucos minutos para demonstrar o seu valor, fisgar o recrutador e conquistar a oportunidade, 
      não é?
      Pensando nisso, confira essa seleção de 15 dicas para mandar bem. Entre conselhos de especialistas, 
      consultados pela Exame e pelo Na Prática, e sugestões baseadas no que diz a ciência, confira o que 
      aumenta suas chances de ser escolhido – ou, como mandar bem na entrevista de emprego.
    </p>
    <a routerLink="/entrevista">Continue lendo</a>
  </div>
</div>
<hr>
<div class="parcerias">
  <div class="parcerias-content">
    <h3 class="main-title">Parceria com as melhores empresas</h3>
    <ul class="imagens">
      <li class="img">
        <img src="/assets/impacta.png" alt="logo da impacta" />
      </li>
      <li class="img">
        <img src="/assets/parmalat.png" alt="logo da parmalat" />
      </li>
      <li class="img">
        <img src="/assets/scania.png" alt="logo da scania" />
      </li>
      <li class="img">
        <img src="/assets/unilever1.png" alt="logo da unilever" />
      </li>
    </ul>
  </div>
</div>
