.home {
  width: 100%;
  display: flex;
  margin: 0 auto;
  background-image: url(../../../assets/BannerGreatPeople.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
}

.banner {
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: baseline;
  max-width: 1100px;
  margin: 0 auto;
}
.content {
  max-width: 100%;
  position: absolute;
}

.aboutUs {
  display: flex;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding-top: 60px;
  justify-content: space-between;
}
.aboutUs-text {
  width: 700px;
}

.parcerias {
  margin-bottom: 40px;
  width: 100%;
  display: flex;
  height: 260px;
  padding-top: 80px;
}

.parcerias-content {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}

.parcerias-descriprion h2 {
  font-size: 2.5em;
  text-align: center;
  border: 1px solid red;
}

.imagens {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.imagens li {
  list-style: none;
}

.img img {
  width: 80%;
}
