
<div class="home">
  <div class="banner">
    <div class="content">
      <div class="text-img">
        <p>Great People</p>
      </div>
    </div>
  </div>
</div>

<div class="quem-somos">
  <h1 class="somos">Quem Somos</h1>
  <div class="text-somos">
    <p>dustry. Lorem Ipsum has been the industry's standard dummy text ever 
      since the 1500s, when an unknown printer took a galley<br/> of type and scrambled 
      it to make a type specimen book. It has survived not only five centuries, <br>but also the leap into electronic typesetting, remaining essentially unchanged. 
      It was popularised in the 1960s with the release of Letraset sheets containing</p>
  </div>
</div>


<div class="parcerias">
  <div class="parcerias-content">
    <h3 class="main-title">Parceria com as melhores empresas</h3>
    <ul class="imagens">
      <li class="img">
        <img
          src="/assets/impacta.png"
          alt="logo da impacta"
        />
      </li>
      <li class="img">
        <img
          src="/assets/parmalat.png"

          alt="logo da parmalat"
        />
      </li>
      <li class="img">
        <img
          src="/assets/scania.png"

          alt="logo da scania"
        />
      </li>
      <li class="img">
        <img
          src="/assets/unilever1.png"

          alt="logo da unilever"
        />
      </li>
    </ul>
  </div>
 
</div>
