<div class="home">
  <div class="banner">
    <div class="content"></div>
  </div>
</div>

<div class="aboutUs">
  <div class="">
    <img src="/assets/prediogreatpeople.jpg" width="300px" alt="" />
  </div>
  <div class="aboutUs-text">
    <h1 class="">Quem Somos</h1>
    <p>
      Comprometimento e responsabilidade é a marca da Great People desde os
      primeiros momentos. E esse comprometimento fez com que, em pouco tempo, a
      empresa passasse a ser reconhecida como referência para selecionar,
      contratar e gerir pessoas, sempre com sensibilidade, habilidade e
      responsabilidade.
    </p>
  </div>
</div>

<div class="parcerias">
  <div class="parcerias-content">
    <h3 class="main-title">Parceria com as melhores empresas</h3>
    <ul class="imagens">
      <li class="img">
        <img src="/assets/impacta.png" alt="logo da impacta" />
      </li>
      <li class="img">
        <img src="/assets/parmalat.png" alt="logo da parmalat" />
      </li>
      <li class="img">
        <img src="/assets/scania.png" alt="logo da scania" />
      </li>
      <li class="img">
        <img src="/assets/unilever1.png" alt="logo da unilever" />
      </li>
    </ul>
  </div>
</div>
