<div class="borda">
  <h2 class="text-warning text-center">Efetuar Login</h2>
  <form>
    <div class="mb-3">
      <label class="form-label">Usuário:</label>
      <input
        type="text"
        class="form-control"
        [(ngModel)]="user.nome"
        name="nome"
      />
    </div>
    <div class="mb-3">
      <label class="form-label">Senha:</label>
      <input
        type="password"
        class="form-control"
        [(ngModel)]="user.senha"
        name="senha"
      />
    </div>
    <div class="mb-3">
      <button class="btn btn-warning" (click)="validar(user)">Login</button> |
      <button class="btn btn-secondary" (click)="fechar()">Voltar</button>
    </div>

    <div *ngIf="erro">
      <div class="alert alert-danger">
        {{ erro }}
      </div>
    </div>
  </form>
</div>
  
 